
/*CSS GERAL*/
*{
 padding: 0;
 margin: 0;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: #333;
 box-sizing: border-box;   
}
body{
    background-image: url();
    background-position: center;
    background-size: cover;
}
/*ESTILIZANDO TODOS OS BOTOES*/
button{
background-color: #f198af;
color: #691248;
padding: .3em .6em;
font-size: 1rem;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
transition: 0.4s;
}
button:hover{
    background-color: #691248;
    color: #fff;
}
button:hover >i{
    color: #fff;
}
button i{
    color:#333;
    /* desabilitando eventos de click dos icones para fazer com que quando o usario
    clique no icone, seja como se estivesse clicando no botao */
    pointer-events: none;
}
input, select{
    padding: 0.25rem 0.5rem;
}
.hide{
    display: none;
}

/*Header do To Do*/

.todo-container{
    max-width: 450px;
    margin: 3rem auto;
    background-color: #fbd1d3;
    padding: 2rem;
    border-radius: 20px;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1.5px solid #766dc1;
}

/* TODO FORM*/
#todo-form, 
#edit-form{
/* espacando dos cantos e dividindo dos demais elementos*/
padding: 1rem;
border-bottom: 1px solid #766dc1;
}





.texto{
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
}

